.studio-area{
    position: relative;
    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: #404598;
        z-index: 2;
    }
    .container {
        position: relative;
        z-index: 3;
        
        .primary-btn {
            line-height: 40px;
            padding: 0 40px;
            border-radius: 20px;
            background: transparent;
            border: 1px solid #00ff8c;
            color: #222222;
            display: inline-block;
            font-weight: 600;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            &:hover {
                background: #00ff8c;
                text-decoration: none;
                color: #fff;
                box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
            }
        }
    }&:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background: url(https://colorlib.com/etc/datarc/img/studio-bg.jpg) no-repeat center center/cover;
        z-index: 1;
    }
    

}
@media (max-width: 991px){
    .studio-area:before {
        background: rgba(64, 69, 152, 0.95);
        width: 100%;
    }
    .studio-area:after {
        width: 100%;
    }
}